/* CSS Document */
.partyConnectMainTable {
}

.partyConnectMainTable tr {
   height: 40px;
   border-top: 1px solid black;
   vertical-align: middle;
   line-height: 40px;
}

.partyConnectMainTable .accepted td, .partyConnectMainTable .declined td {
  color: white;
}

.partyConnectMainTable td.guestName {
   width: 230px;
   padding-left: 10px;
   font-weight: bold;
   font-size: 17px;
}

.partyConnectMainTable td.dropdownMenu {
   width: 100px;
}

.partyConnectMainTable td.buttons {
   width: 200px;
   height: 25px;
   line-height: 25px;
   vertical-align: middle;
}

.partyConnectMainTable .userButton {
   border: 1px solid black;
   float: left;
   border-radius: 3px;
   width: 100px;
   height: 30px;
   text-align: center;
   font-size: 15px;
   margin: 3px;
   cursor: pointer;
}

.partyConnectMainTable .acceptButton {
   color: white;
}

.partyConnectMainTable .declineButton {
   color: white;
}
